# Зависимости
node_modules/
yarn.lock
pnpm-lock.yaml

# Переменные окружения
.env
.env.local
.env.*.local

# Логи
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Временные файлы
tmp/
temp/
*.tmp

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Данные бота
downloads/
uploads/


